* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    border: .3rem solid black;
    display: flex;
    flex-wrap: wrap;;
}

.box {
    height: 10rem;
    flex-basis: 10rem;
}

.box1 {
    background-color: red;
    flex-grow: 1;
}

.box2 {
    background-color: blueviolet;
    flex-grow: 1;
}

.box3 {
    background-color: brown;
}

.box4 {
    background-color: chartreuse;
}

.box5 {
    background-color: coral;
}

.box6 {
    background-color: cornflowerblue;
}
